*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #BB9457 ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /*box-shadow:0 0 1rem rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 0 0.5rem #5C1817;
    font-size: 9vmin;
    color: #5C1817;
    background-color:#FEFAE0;
}

#resetBtn{
    background-color: #5C1817;
    color :antiquewhite;
    box-shadow: 0 0 0.5rem #5C1817;
    height: 30px;
    width: 125px;
    font-size: 18px;
    border-radius: 0.5rem;
    margin: -5px;
}
#newGameBtn{
    background-color: #5C1817;
    color :antiquewhite;
    box-shadow: 0 0 0.5rem #5C1817;
    height: 30px;
    width: 125px;
    font-size: 18px;
    border-radius: 0.5rem;
    margin: -5px;
    margin-top: 18px;
}
#msg{
    color :rgb(248, 241, 232);
    font-size: 5vmin;
    margin-bottom: 8px;
}
/*
.hide{
 display: none;
}
*/